<h1>Show user</h1>

<p>
  <b>First name:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<%= link_to 'Back', users_path %>

