.translation_missing {
  background-image: -webkit-gradient(linear,  left top,  right bottom,
    color-stop(0.00, red), color-stop(16%, orange), color-stop(32%, yellow),
      color-stop(48%, green), color-stop(60%, blue),
        color-stop(76%, indigo), color-stop(1.00, violet));
  color: #fff;
  text-shadow: 1px 1px 0px #000;
  font-family: "Comic sans MS";
  padding: 0.2em 0.4em;
  outline: 2px dashed red;
}

.slides_container {
    width:570px;
    height:270px;
}
.slides_container div {
    width:570px;
    height:270px;
    display:block;
}
